<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>API application</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Node.js Authentication App</span>
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Create new account!
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    placeholder="First name (optional)">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                    placeholder="Last name (optional)">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                                    placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="confirm_password"
                                    placeholder="Confirm Password">
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                        <p></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

    </script>

    <script src="/bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="./bootstrap/bootstrap.min.js"></script>


    <script src="/js/main.js"></script>

    <script>
        //script for handling the signup operation
        const email_input = document.getElementById('email');
        const password_input = document.getElementById('password');
        const fnameinput = document.getElementById('first_name');
        const lnameinput = document.getElementById('last_name');

        const p = document.querySelector('p');

        const form = document.querySelector('form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            //fetch
            const url = 'http://localhost:5000';
            const route = '/user'

            const username = email_input.value;
            const password = password_input.value;
            const first_name = fnameinput.value;
            const last_name = lnameinput.value;

            if( password !== (document.getElementById('confirm_password').value)) {
                return (p.innerText = 'Password does not match');
            }

            if(!username || !password) {
                return (p.innerText = 'Email or Password is required');
            }
            reqbody = {username, password, first_name, last_name};

            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(reqbody)
            }

            const response = await fetch((url+route), options)
            const resJson = await response.json();
            console.log(resJson);

            if (resJson.status === 'failed') {
                p.innerText = resJson.msg;
            }
            else if (resJson.status === 'success') {
                p.innerText = resJson.msg;
            }

        })
    </script>
</body>

</html>